<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Welcome to happy food selector timeeeee!</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">

  </head>

<h1>Lets pick somethun tuh eat bro!</h1>
<a href='/cuisine/new'>Add a cuisine</a>
<a href='/cuisine'>Check out your list of restaurants by cuisine!</a>
<a href='/mealType'>Check out your list of restaurants by meal type!</a>
<a href='/restaurants/new'>Add a restaurant. </a>
<a href='/restaurant'>See a list of all your restaurants</a>

</html>
